# Byte-compiled / optimized / DLL files
__pycache__/
test.py

# datasets
#   -----------------------------------------
mnist/*
!mnist/.gitkeep


# Variational Autoencoder
#   -----------------------------------------
VAE/model_v2.py
VAE/tflearn_logs/*
!VAE/tflearn_logs/.gitkeep
VAE/saved_models/*
!VAE/saved_models/.gitkeep


# Advarsarial Autoencoder
#   -----------------------------------------
AdvarsarialAE/tf_logs/*
!AdvarsarialAE/tf_logs/.gitkeep
AdvarsarialAE/saved_models/*
!AdvarsarialAE/saved_models/.gitkeep






















# Environments
#   -----------------------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/