# Byte-compiled / optimized / DLL files
#   -----------------------------------------
__pycache__/
.vscode/*
.idea/*
.ipynb_checkpoints/*
test.py


# Environments
#   -----------------------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# datasets
#   -----------------------------------------
mnist/*
!mnist/.gitkeep


# Variational Autoencoder
#   -----------------------------------------
VAE/model_v2.py
VAE/tflearn_logs/*
!VAE/tflearn_logs/.gitkeep
VAE/saved_models/*
!VAE/saved_models/.gitkeep
VAE/.idea/*


# Advarsarial Autoencoder
#   -----------------------------------------
AdversarialAE/tf_logs/*
!AdversarialAE/tf_logs/.gitkeep
AdversarialAE/saved_models/*
!AdversarialAE/saved_models/.gitkeep
